:root {
    --theme: #FF9D35;
    --dark: #292929;
    --light: #EFEFEF;
}


* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.normalText {
    color: var(--light);
    font-size: 20px;
    font-weight: 300;
}

.titleTop, .titleBottom {
    color: var(--theme);
    font-size: 50px;
    font-weight: 700;
    text-shadow: 8px 8px 16px var(--dark);
}

.rubrikText {
    color: var(--theme);
    font-size: 25px;
    font-weight: 500;
}

body {
    background-color: var(--dark);
    overflow-x: hidden;
}

.wrapper {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.menyHeader {
    height: 100vh;
}

.imageLayover {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imageLayoverBottom {
    position: absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.backgroundImage {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: calc(100vh - 5px);
    min-width: 100vw;
    z-index: -1;
}

.topText {
    margin-top: 15px;
}

.bottomText {
    position: absolute;
    bottom: 15px;
}

.menyHeader .imageLayover .titleTop {
    position: absolute;
    top: calc(62% - 50px);
}

.menyHeader .imageLayover .titleBottom {
    position: absolute;
    top: 62%;
}

.menyFooter .imageLayoverBottom .titleTop {
    position: absolute;
    bottom: calc(38vh);
}

.menyFooter .imageLayoverBottom .titleBottom {
    position: absolute;
    bottom: calc(38vh - 50px);
}

.scrollText {
    position: absolute;
    bottom: 125px;
}

.scrollDown {
    position: absolute;
    bottom: 95px;
    
    transform: scale(2);
}

.gradientOverlay {
    position: absolute;
    z-index: -0.5;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), var(--dark) 90%);
}

.gradientOverlayBottom {
    position: absolute;
    bottom: 5px;
    z-index: -0.5;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), var(--dark) 90%);
}

.line {
    margin-top: 15px;
    margin-bottom: 15px;
    width: calc(100vw - 30px);
    height: 1px;
    background-color: white;
}

.menySection {
    margin-right: 15px;
    margin-left: 15px;
}

.menySection > * {
    margin-top: 15px;
}

.skrivareImage {
    width: 100%;
    height: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.contentImage {
    border-radius: 10px;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--theme);
    border-radius: 10px;
}

button > a {
    color: var(--light);
    text-decoration: none;
}

button > a > h2 {
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: 500;
}

.mailText {
    display: block;
    margin-bottom: 20px;
    color: var(--theme);
}

.bokningsHeader {
    margin: 15px 15px 0px 15px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1fr 15px;
    grid-gap: 10px;
    grid-template-areas:
        "bk rk na"
        "pr pr pr";
}

.backButton > a > img {
    width: 75%;
    height: auto;
}

.backButton {
    grid-area: bk;
    height: 100%;
    width: 100%;
    background: none;
}

.bokaRubrik {
    text-align: center;
}

.imageHolder {
    grid-area: pr;
    display: flex;
    justify-content: center;
}

.progressBar {
    height: 15px;
    width: auto;
}

.bokningsSection {
    margin-left: 15px;
    margin-right: 15px;
}

.bokningsSection > * {
    margin-top: 15px;
}

.bokningsSection > ul > * {
    margin-top: 15px;
}

.bokningsFooter {
    margin: 15px;
    margin-top: 80px;
    position: absolute;
    bottom: 0px;
    width: calc(100vw - 30px);
}

.bokningsFooter > * {
    margin-top: 15px;
}

.bokningsFooter > button {
    width: 100%;
}

.input {
    width: 100%;
    height: 30px;
    border: 1px solid var(--theme);
    background: none;
    border-radius: 10px;
    color: var(--light);
    padding-left: 10px;
}

.inputTime {
    width: auto;
}

input:focus {
    outline: none;
}

li {
    color: white;
}

.contentWrapper {
    padding-bottom: 250px;
}

.bokningKlarHeader {
    margin-top: 15px;
}

.bokningsKlarSection {
    margin-top: 62%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100vw - 30px);
}

.checkImage {
    transform: scale(8);
    margin-bottom: 65px;
}


nav {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    position: fixed;
    top: 5px;
    right: 5px;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center; /*Utspridda element, de har lika mycket mellanrum runt om kring. Fördelas jämt*/
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark);
    align-items: center;
    padding-left: 0;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.navActive {
    transform: translateY(100vh); /*Flyttar nollpunkten 100vh neråt.*/ 
}

.navLinks li {
    list-style: none;
    margin-top: 15px
}


.navLinks a {
    text-decoration: none;
    color: var(--theme);
    font-size: 25px;
    font-weight: 500;
}


.burger {
    cursor: pointer;
    z-index: 5;
}

.burger div {
    width: 50px;
    height: 5px;
    background-color: rgb(223, 144, 70);
    margin: 8px;
    border-radius: 10px;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 12.5px); /*405deg är också riktigt coolt*/
}

.toggle .line2 {
    transform: translate(100px)
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -12.5px);
}

.timeList {
    max-height: 150px;
    overflow: scroll;
}

.blockText {
    display: inline;
    margin-right: 15px;
    position: relative;
    top: 2.5px;
}