:root {
    --theme: #FF9D35;
    --dark: #292929;
    --light: #EFEFEF;
}


* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.normalText {
    color: var(--light);
    font-size: 20px;
    font-weight: 300;
}

.titleTop, .titleBottom {
    color: var(--theme);
    font-size: 50px;
    font-weight: 700;
    text-shadow: 8px 8px 16px var(--dark);
}

.rubrikText {
    color: var(--theme);
    font-size: 25px;
    font-weight: 500;
}

body {
    background-color: var(--dark);
    overflow-x: hidden;
}

.wrapper {
    overflow-x: hidden;
    width: 100vw;
}

.menyHeader {
    height: 100vh;
}

.imageContainer {

}

.imageLayover {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imageLayoverBottom {
    position: absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.backgroundImage {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: calc(100vh - 5px);
    min-width: 100vw;
    z-index: -1;
}

.topText {
    margin-top: 45px;
}

.bottomText {
    position: absolute;
    bottom: 15px;
}

.menyHeader .imageLayover .titleTop {
    position: absolute;
    top: calc(62% - 50px);
}

.menyHeader .imageLayover .titleBottom {
    position: absolute;
    top: 62%;
}

.menyFooter .imageLayoverBottom .titleTop {
    position: absolute;
    bottom: calc(38vh);
}

.menyFooter .imageLayoverBottom .titleBottom {
    position: absolute;
    bottom: calc(38vh - 50px);
}

.scrollText {
    position: absolute;
    bottom: 45px;
}

.scrollDown {
    position: absolute;
    bottom: 15px;
    
    transform: scale(2);
}

.gradientOverlay {
    position: absolute;
    z-index: -0.5;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), var(--dark) 90%);
}

.gradientOverlayBottom {
    position: absolute;
    bottom: 5px;
    z-index: -0.5;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), var(--dark) 90%);
}

.line {
    margin-top: 15px;
    margin-bottom: 15px;
    width: calc(100vw - 30px);
    height: 1px;
    background-color: white;
}

.menySection {
    margin-right: 15px;
    margin-left: 15px;
}

.menySection > * {
    margin-top: 15px;
}

.skrivareImage {
    width: 100%;
    height: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.contentImage {
    border-radius: 10px;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--theme);
    border-radius: 10px;
}

button > a {
    color: var(--light);
    text-decoration: none;
}

button > a > h2 {
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: 500;
}

.mailText {
    display: block;
    margin-bottom: 20px;
    color: var(--theme);
}

.bokningsHeader {
    margin: 45px 15px 0px 15px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "bk rk na"
        "pr pr pr";
}

.backButton > a > img {
    width: 75%;
    height: auto;
}

.backButton {
    grid-area: bk;
    height: 100%;
    width: 100%;
    background: none;
}

.bokaRubrik {
    text-align: center;
}

.imageHolder {
    grid-area: pr;
    display: flex;
    justify-content: center;
}

.progressBar {
    height: 10px;
    width: auto;
}

.progressBar1 {
   
}

.bokningsSection {
    margin-left: 15px;
    margin-right: 15px;
}